/* Base Application Styles */
body {
  padding-top: 40px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* for IE 6 & 7 */
.clearfix {
    zoom: 1;
}

#app-title,
#app-badges {
  text-align: center;
}

#app {
  margin-bottom: 20px;
}
