.difficulty {
  text-align: center;
}

.difficulty > button {
  border: 0;
  background-color: #6bd5ea;
  padding: 5px 10px;
  margin: 5px;
}

.difficulty > button.active {
  background-color: #d8f4f8;
}
