.hud {
  display: flex;
  margin-bottom: 10px;
}

.hud > .clock {
  flex: 1 30%;
  line-height: 60px;
  text-align: left;
}

.hud > .face {
  flex: 2 40%;
  font-size: 40px;
  text-align: center;
}

.hud > .counter {
  flex: 3 30%;
  line-height: 60px;
  text-align: right;
}
