.minefield table {
  border-collapse: separate;
  border-spacing: 2px;
  margin: 0px auto 10px auto;
  padding: 0;
  width: 100%;
}

.minefield td {
  height: 25px;
  width: 25px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.minefield td.open {
  background-color: #d8f4f8;
}

.minefield td.closed,
.minefield td.flag {
  background-color: #6bd5ea;
}

.minefield td.mine {
  background-color: #f7c7c7;
}
