.toolbar {
  display: flex;
  margin-bottom: 10px;
}

.toolbar > .clock {
  line-height: 60px;
  text-align: left;
  width: 30%;
}

.toolbar > .face {
  font-size: 40px;
  text-align: center;
  width: 40%;
}

.toolbar > .counter {
  flex: 3 30%;
  line-height: 60px;
  text-align: right;
  width: 30%;
}
